# Pyhton Objects and Data Strcutures

In this lecture we will explore objects and data structure in python

We will explore below topics

    1.) Variables
    2.) Numbers and their types
    3.) Boolean
    4.) Strings
    5.) Lists
    6.) Tuple
    7.) Sets
    8.) Dictionaries

# Variables

Variables are containers to store data, and it get created once a value assign to it. e.g. tax_rate = 15

In [ ]:
# In python we dont need to declare variable type

name = "Jhon"
quantity = 55
unit_price = 23.56

In [ ]:
print(name)
print(quantity)
print(unit_price)

In [ ]:
# varibales type can be change by changing value to it
# print unit_price type
print(type(unit_price))

In [ ]:
# assign 1000 to unit_price and print its type
unit_price = 1000
print(type(unit_price))

## Naming Convention

Following rules should be considered while naming variables however these are not hard rules to follow.

    1.) Variables names should not start from numbers e.g. 34price
    2.) No spaces in names, use _ (underscores) instead of spaces e.g. first_name or use camel notation in name e.g. firstName
    3.) Dont use special characters in naming such as !@#$%^&*()<>'":;?/ only use underscores or hyphens
    4.) it is considered best case to use lower case letters
    5.) dont use reserved keyword in naming e.g. 'list', 'set', 'string'
    
use meaningful variables names to keep track of variables.

In [ ]:
# operation on two variables and assign result to third variables
net_price =  unit_price * quantity

In [ ]:
# print variable
print(net_price)

# Numbers ant its types

In python we have different types of number but we will focus on 'int' and 'float' in this lecture

### int 

integers are just whole number poisitve or negative e.g. 5 or -1

### float

floats are positive or negative real number with fractional part denoted by decimals or scientific notation such as E or e e.g. 34.56, 65.6656, 3E4

In [ ]:
quantity = 2
unit_price = 2.5

print(type(quantity))
print(type(unit_price))


net_price = quantity * unit_price
print(net_price)

print(type(net_price))

### Task

Calculate the area of a rectangle having length of 15 cm and width of 10 cm. Use variable assignment and perform calculations using variables. Also display the result.

In [ ]:
# Assign values to variables

In [ ]:
# Perform Calculation

In [ ]:
# Display the result

In [ ]:
print(type(area))

# Booleans

In python we have boolean that have predifined values 'True' or 'False'

In [ ]:
# Create boolean object

In [ ]:
# print boolean variable

Boolean can also be created by comparison operators

In [ ]:
# compare two operators and asssign it to new variable

In [ ]:
# print result

###### Boolean can be dispayed as '1' or '0' if type cast it to int

In [ ]:
# cast boolean to int

In [ ]:
# cast boolean to int

# Strings

Strings represent sequnce of characters e.g. 'Jhon' , 'Computer', 'I am hungry', 'Hello World!'

Strings are always in double quotes or single quotes

In [ ]:
'This is single quoted string'

In [ ]:
"This is single line sentence with in double quotes"

Strings are immutable so once a value assign to it, it can not be changed

In [ ]:
# assign string to variables
firstName = "Jhon"
lastName = 'Doe'
address = "8123 King Road KSA"
company = 'Tech 45 Degree'

In [ ]:
# print string

In [ ]:
# Be careful with quotes!
I'm hungry

The reason for the error above is because the single quote in <code>I'm</code> stopped the string. You can use combinations of double and single quotes to get the complete statement.

In [ ]:
"I'm hungry"

### Concatenate  +

In [ ]:
# Concatenate two strings and assign to third

In [ ]:
# print fullName

In [ ]:
# print firstName five times

# Determine variable type

# List

List are containers to hold multiple objects,

List are mutable so it can be change.

List are represented by square brackets

In [ ]:
# Create list of friend names
my_friends = ['Jhon','Micky','Kyle','Damon']

In [ ]:
# Print list

In [ ]:
# Describe

### Indexing

To pick element from specific index we define index inside square brackets [].

Index will start from 0 and that will return element at spefific index.

In [ ]:
# Grab element at 0

In [ ]:
# Grab element at 2

### Slicing

Slicing is used to slice list into sub list and that can be achived by colon inside square brackets [:]

In [ ]:
my_friends

In [ ]:
# Grab everything from 1, 1 is included

In [ ]:
# Grab everything upto 2, 2 is excluded

In [ ]:
# Grab last element

In [ ]:
# Grab everything upto last element, last is excluded

In [ ]:
# Change element at 2 and print entire list

In [ ]:
# Change element at 1 with int and print entire list

### Checking type

In [ ]:
# Check type of list

In [ ]:
# Check type of 3rd element

In [ ]:
# Check type of 1st element

### Concatenation +

List can be concatenated

In [ ]:
# Create new list

In [ ]:
# Concatenate two lists and store it in new variable

In [ ]:
house_prices = [12,54,22,76,50]

In [ ]:
# Multiply list

In [ ]:
# Multiply element inside list

### Operations

In [ ]:
# Add new item in list

In [ ]:
# Remove item from list

In [ ]:
# Cleare list and print result

# Tuples

Tupes are very similar to list but they are immutable so once initialized it can not be change.

Better to use for those objects that have constant values e.g. Day of week, Planet Names

Tupes are recognized by small brackets ()

In [ ]:
# Create tuple for days of week
days_week = ('Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday')

In [ ]:
# Check type

In [ ]:
days_week??

### Indexing

In [ ]:
# Grab element at first index

In [ ]:
# Grab Sunday

### Slicing
Like list we can slice tupes also

In [ ]:
# Grab everything from 3rd element

In [ ]:
# Grab everything from 3rd to 5th element

### Immutability

In [ ]:
# Change element at index 1

In [ ]:
# Add new element in tuple

# Sets

Sets are unordered list to contain unique objects

Sets can be created by curly brackets {}

In [ ]:
my_cars = {"BMW","Tesla","Hyundai",'Toyota'}

In [ ]:
# Check type

In [ ]:
my_cars??

###### Sets can also be created by set() function

In [ ]:
my_fav_colors = set()

In [ ]:
# Add colors to my_fav_colors set

In [ ]:
# Print my_fav_colors

### Indexing

In [ ]:
# Grab element at 0 index

In [ ]:
# Cast it to list and than grab element at 0

In [ ]:
list(my_fav_colors)

### Slicing

In [ ]:
# Grab all elements from 1

In [ ]:
# Cast it to list and than Grab all elements from 1

### None Values

### Union / Update

In [ ]:
my_cars = {'BMW','Tesla','Hyundai','Toyota'}
my_fav_cars = {'BMW','Hyundai','Genesis'}

In [ ]:
# union both sets and print it

In [ ]:
my_cars

In [ ]:
# Update both sets and than print it

In [ ]:
my_cars

# Dictionary

If you are familiar with other langauges than you can think of dictionary are like hash map.

In python we have dictionary which contain objects in key: value pair

Dictionary are also recognized by curly brackets but they are always in key value pair

In [ ]:
my_dict = {
           'key1':'value1',
           'key2':'value2',
           'key3':'vlaue3'
          }

In [ ]:
my_dict

In [ ]:
# Grab element with key2

In [ ]:
my_dict = {
           'key1':'value1',
           'key2':'value2',
           'key3':'vlaue3',
           'key1':'value4'
          }

In [ ]:
my_dict

In [ ]:
my_dict = {
           'key1':'value1',
           'key2':'value2',
           'key3':'value3',
           'key1':'value4',
           'key5':'value3',
          }

In [ ]:
my_dict

In [ ]:
my_dict??

###### Dictionaries are mutable

In [ ]:
# Change element at 2 and print dictionary

In [ ]:
# Subtract operation at element 2

In [ ]:
# Add new element to my_dict and assign list to it

In [ ]:
type(my_dict['animal'])

In [ ]:
type(my_dict['key2'])

In [ ]:
type(my_dict['key1'])

### Nested Dictionary

In [ ]:
# Dictionary nested inside a dictionary nested inside a dictionary
d = {
    'key1':
           {'nestkey':
                       {'subnestkey':'value'}
           }
    }

d

In [ ]:
# Grab nested element by keep calling the keys

In [ ]:
# Grap the inner most value

### Dictionaries Exercise

In [ ]:
# Definition of countries and capital
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']

# From string in countries and capitals, create dictionary europe


#print europe

In [ ]:
type(europe)

# Object Type Casting
You can cast type of any object in Python. Common data types casting functions include:
* **int()** (for integer)
* **float()**
* **str()** (for string)
* **bool()** (for Boolean True/False)

You can type cast any object throught the following code. The given example is converting **float** to **int**.

<code> int(5.8) </code>

In [ ]:
# convert 80 into float type and check its type

In [ ]:
# convert 20.9 into a string and check its type

In [ ]:
# convert a boolean valua into int and check its type

In [ ]:
# convert '123' into float and check its type

In [ ]:
# convert my_cars set into list and check its type