# Python Control Flow and Functions

In this lecture we will explore control flow and functions in python

We will explore below topics

    1.) Conditional Statements 
        if/ elif/ else
        Multiple Branches
        Nested Branches
                
    2.) For Loop
    
    3.) While loop
    
    4.) Method
        What are methods?
        
    3.) Functions
        How to create functions?
        
    4.) Built-in Function     
        Filter
        Map
        Lambda
        Range
        Min, Max
        Enumerate

# Conditional Statments (if, elif, else Statements)

<code>if</code> statements are called conditional statements. <code>if</code> statements are used in such scenerios where we want to execute some instructions on the basis of conditions.

For example:

"Hey if this case happens, perform some action"

We can then expand the idea further with <code>elif</code> and <code>else</code> statements, which allow us to tell the computer:

"Hey if this case happens, perform some action. Else, if another case happens, perform some other action. Else, if *none* of the above cases happened, perform this action."

Let's go ahead and look at the syntax format for <code>if</code> statements to get a better idea of this:



    if case1:
        perform action1
    elif case2:
        perform action2
    else: 
        perform action3

## First Example

Let's see a quick example of this:

In [1]:
if True:
    print('It was true!')

It was true!

Let's add in some else logic:

In [3]:
x = False

if x == True:
    print('x was True!')
else:
    print('I will be printed in any case where x is not true')
    print('Here it is')

I will be printed in any case where x is not true
Here it is

### Multiple Branches

Let's get a fuller picture of how far <code>if</code>, <code>elif</code>, and <code>else</code> can take us!

In [8]:
# Write your code here

location = "Play Ground"

if location == "Shop":
    print("Current location is SHop")
elif location == "Bank": 
    print("Current location is Bank")
elif location == "Shoping Center": 
    print("Current location is Shoping Center")
elif location == "Play Ground": 
    print("Current location is Play Ground")    
else:
    print("Default location")

Current location is Play Ground

### Nested Branches
<code>if</code>, <code>elif</code> inside <code>if</code>, <code>elif</code>

In [15]:
# Write your code here
var = 250
if var < 200:
    print("Expression value is less than 200")
    if var == 150:
        print("Which is 150")
    elif var == 100:
        print("Which is 100")
    elif var == 50:
        print("Which is 50")
    elif var < 50:
        print("Expression value is less than 50")
        if var == 20:
            print("Which is 20")
        elif var < 20:
            print("Expression value is less than 20")
        
else:
    print("Could not find true expression")

Could not find true expression

## if-elif-else Exercise
Write code to check weather condition with following senarios:

    1.) Sunny and Hot (temp is higher than 30)
    2.) Sunny and Moderate (temp is between 20 and 30)
    3.) Rainy and Cold (temp is less than 20)
    4.) Rainy and Very Cold (temp is less than 5)

In [22]:
# Write your code here
weather = "" 
temp = 4

if temp > 30:
    weather = "Sunny and Hot"
elif temp >= 20 and temp <= 30:
    weather = "Sunny and Moderate"
elif temp < 20:
    weather = "Rainy and Cold"
    if temp < 5:
        weather = "Rainy and Very COld"
        
print(weather)

Rainy and Very COld

# for Loops

A <code>for</code> loop acts as an iterator in Python; it goes through items that are in a *sequence* or any other iterable item. Objects that we've learned about that we can iterate over include strings, lists, tuples, and even built-in iterables for dictionaries, such as keys or values.

Here's the general format for a <code>for</code> loop in Python:

    for item in object:
        statements to do stuff

The variable name used for the item is completely up to the coder, so use your best judgment for choosing a name that makes sense and you will be able to understand when revisiting your code. This item name can then be referenced inside your loop, for example if you wanted to use <code>if</code> statements to perform checks.

Let's go ahead and work through several example of <code>for</code> loops using a variety of data object types. We'll start simple and build more complexity later on.

## Example 1
Iterating through a list

In [23]:
list1 = [1,2,3,4,5,6,7,8,9,10]
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
# Describe List
list1??

In [25]:
for item in list1:
    print(item)

1
2
3
4
5
6
7
8
9
10

Great! Hopefully this makes sense. Now let's add an <code>if</code> statement to check for even numbers. We'll first introduce a new concept here--the modulo.
### Modulo
The modulo allows us to get the remainder in a division and uses the % symbol. For example:

In [26]:
17 % 5
# 5 x 3  = 15

2

This makes sense since 17 divided by 5 is 3 remainder 2. Let's see a few more quick examples:

In [27]:
# 3 Remainder 1
10 % 3

1

In [28]:
# 2 no remainder
4 % 2

0

Notice that if a number is fully divisible with no remainder, the result of the modulo call is 0. We can use this to test for even numbers, since if a number modulo 2 is equal to 0, that means it is an even number!

Back to the <code>for</code> loops!

## Example 2
Let's print only the even numbers from that list!

In [29]:
for item in list1:
    if item % 2 == 0:
        print(item)

2
4
6
8
10

We could have also put an <code>else</code> statement in there:

In [34]:
 for item in list1:
    if item % 2 == 0:
        print(item)
    else:
        print("Number is Odd: " + str(item))

Number is Odd: 1
2
Number is Odd: 3
4
Number is Odd: 5
6
Number is Odd: 7
8
Number is Odd: 9
10

## Example 3

In [35]:
list1=['h','e','l','l','o']
print(list1)

['h', 'e', 'l', 'l', 'o']

In [36]:
# describe list
list1??

In [37]:
# Loop on list and make single word

result = ""
for c in list1:
    result+=c

Please notice here that <code>result +=elements</code> is equivallent to <code>result=result+elements</code>

In [38]:
result

'hello'

In [39]:
result??

## For loop Exercise

In [46]:
#create empty list
list2 = []
#write for loop to assign each letter of "result" separately to list

for c in result:
    list2.append(c)

In [47]:
#print list
print(list2)

['h', 'e', 'l', 'l', 'o']

In [48]:
#describe
list2??

# while Loops

The <code>while</code> statement in Python is one of most general ways to perform iteration. A <code>while</code> statement will repeatedly execute a single statement or group of statements as long as the condition is true. The reason it is called a 'loop' is because the code statements are looped through over and over again until the condition is no longer met.

The general format of a while loop is:

    while test:
        code statements
    else:
        final code statements

Let’s look at a few simple <code>while</code> loops in action.

In [53]:
x = 0;

while x < 10:
    print ("X is less than 10: " + str(x))
    x+=1
else:
    print("else x is greater or equal to 10, All Done!")

X is less than 10: 0
X is less than 10: 1
X is less than 10: 2
X is less than 10: 3
X is less than 10: 4
X is less than 10: 5
X is less than 10: 6
X is less than 10: 7
X is less than 10: 8
X is less than 10: 9
else x is greater or equal to 10, All Done!

# break, continue, pass

We can use <code>break</code>, <code>continue</code>, and <code>pass</code> statements in our loops to add additional functionality for various cases. The three statements are defined by:

    break: Breaks out of the current closest enclosing loop.
    continue: Goes to the top of the closest enclosing loop.
    pass: Does nothing at all.
    
    
Thinking about <code>break</code> and <code>continue</code> statements, the general format of the <code>while</code> loop looks like this:

    while test: 
        code statement
        if test: 
            break
        if test: 
            continue 
    else:

<code>break</code> and <code>continue</code> statements can appear anywhere inside the loop’s body, but we will usually put them further nested in conjunction with an <code>if</code> statement to perform an action based on some condition.

Let's go ahead and look at some examples!

In [54]:
x = 0

while x < 10:
    print('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    x+=1
    if x==3:
        print('Breaking because x==3')
        break
    else:
        print('continuing...')
        continue

x is currently:  0
 x is still less than 10, adding 1 to x
continuing...
x is currently:  1
 x is still less than 10, adding 1 to x
continuing...
x is currently:  2
 x is still less than 10, adding 1 to x
Breaking because x==3

In [67]:
x = 0

while x < 10:
    print('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    x+=1
    if x==3:
        print('x==3')
        print("hello")
    else:
        print('continuing...')
        continue
        pass
    print('is this executed...')

x is currently:  0
 x is still less than 10, adding 1 to x
continuing...
x is currently:  1
 x is still less than 10, adding 1 to x
continuing...
x is currently:  2
 x is still less than 10, adding 1 to x
x==3
hello
is this executed...
x is currently:  3
 x is still less than 10, adding 1 to x
continuing...
x is currently:  4
 x is still less than 10, adding 1 to x
continuing...
x is currently:  5
 x is still less than 10, adding 1 to x
continuing...
x is currently:  6
 x is still less than 10, adding 1 to x
continuing...
x is currently:  7
 x is still less than 10, adding 1 to x
continuing...
x is currently:  8
 x is still less than 10, adding 1 to x
continuing...
x is currently:  9
 x is still less than 10, adding 1 to x
continuing...

Note how the other <code>else</code> statement wasn't reached and continuing was never printed!

After these brief but simple examples, you should feel comfortable using <code>while</code> statements in your code.

**A word of caution however! It is possible to create an infinitely running loop with <code>while</code> statements.**

## While Loop Exercise
Write code to check if input number is greater than, less than or equal to 50. Loop should be continuous and command of **exit** should end the loop

Hint: you need to used input() fucntion and cast the value to 'int' for conditions but don't cast when 'exit'. 

The code for taking input and casting is as following:
    
<code>x=input("Enter a your value: ")</code>

In [68]:
#write code here

x = ""

while True:
    x = input("Enter a your value: ")
    if x == "exit":
        break
    else:
        x = int(x)
        if x > 50:
            print("X is greater than 50: type exit to exit the programme")
        elif x < 50:
            print("X is less than 50: type exit to exit the programme")
        elif x == 50:
            print("X is equal to 50: type exit to exit the programme")
else:
    print("We are out of loop!")

Enter a your value: 40
X is less than 50: type exit to exit the programme
Enter a your value: 50
X is equal to 50: type exit to exit the programme
Enter a your value: 55
X is greater than 50: type exit to exit the programme
Enter a your value: exit

# Methods

Methods are essentially functions for the objects. Methods perform specific actions on an object and can also take arguments, just like a function. 

Let's take a quick look at what an example of the various methods a list has:

In [9]:
# Create a simple list
lst = [1,2,3,4,5,6,7,8,9,2]
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 2]

Fortunately, with iPython and the Jupyter Notebook we can quickly see all the possible methods using the tab key. 
The common methods for a list are:

* append
* count
* extend
* insert
* pop
* remove
* reverse
* sort

Let's try out a few of them:

In [3]:
lst.append(77)
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 77]

In [5]:
lst.count(2)

2

In [10]:
lst2 = [4545,667,76,8,78]

In [6]:
lst.extend??

In [11]:
lst.extend(lst2)

In [12]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 4545, 667, 76, 8, 78]

In [13]:
lst.pop??

In [14]:
lst.pop(2)

3

In [15]:
lst

[1, 2, 4, 5, 6, 7, 8, 9, 2, 4545, 667, 76, 8, 78]

In [16]:
# Check how many times 2 shows up in the list
lst.count(2)

2

In [27]:
lst.count

You can always use Tab in the Jupyter Notebook to get list of all methods you use Shift+Tab in the Jupyter Notebook to get help of all methods.

The methods for a string are:

* lower
* upper
* replace
* split
* count
* join
* find
* endswith

### Task

Make a string having two words, starting with same letters and separated by a space like **'Jhon Jack'** and perform the following tasks using methods

In [28]:
#declare a string
s = "Jack Jhon"
s

'Jack Jhon'

Hint: s.split('Letter to split with', maxsplit=no. of splits)

In [29]:
# split the string
s.split("J",2)

['', 'ack ', 'hon']

In [30]:
# apply upper() method on the string
s.upper()

'JACK JHON'

In [31]:
# apply lower() method on the string
s.lower()

'jack jhon'

# Functions

## Introduction to Functions

**So what is a function?**

Formally, a function is a useful device that groups together a set of statements so they can be run more than once. They can also let us specify parameters that can serve as inputs to the functions.

On a more fundamental level, functions allow us to not have to repeatedly write the same code again and again. 

Functions will be one of most basic levels of reusing code in Python, and it will also allow us to start thinking of program design.

## def Statements

Let's see how to build out a function's syntax in Python. It has the following form:

In [35]:
def name_of_func(arg1, arg2):
    print("Print statement inside function")

In [36]:
name_of_func(1,2)

Print statement inside function

In [37]:
name_of_func(3,4)

Print statement inside function

We begin with <code>def</code> then a space followed by the name of the function. Try to keep names relevant, for example len() is a good name for a length() function. Also be careful with names, you wouldn't want to call a function the same name as a [built-in function in Python](https://docs.python.org/2/library/functions.html) (such as len).

Next come a pair of parentheses with a number of arguments separated by a comma. These arguments are the inputs for your function. You'll be able to use these inputs in your function and reference them. After this you put a colon.

The important step is that you must indent to begin the code inside your function correctly.

### Example 1: A simple print 'hello' function

In [38]:
def hello(name):
    print("Hello "+name)

**Call the Function**

In [39]:
hello("Jhon")

Hello Jhon

In [40]:
hello("Mike")

Hello Mike

### Example 2: A simple greeting function
Let's write a function that greets people with their name.

In [41]:
def greet(name):
    print("Greeting: "+name)

In [42]:
greet("Damon")

Greeting: Damon

## Using return
Let's see some example that use a <code>return</code> statement. <code>return</code> allows a function to *return* a result that can then be stored as a variable, or used in whatever manner a user wants.

### Example 3: Addition function

In [43]:
def add(arg1,arg2):
    return arg1+arg2

In [44]:
# Can save as variable due to return
result = add(3,4)

In [45]:
result

7

In [46]:
result = add(5,9)

In [47]:
result

14

### Example 4: Function with default arguments

In [48]:
def add(arg1,arg2=10):
    return arg1+arg2

In [54]:
print(add(5))

15

# Functions exercise
Write a function to check if a number is even or odd.

In [55]:
#define the function
def checkNumber(num):
    if num % 2 == 0:
        print("Even")
    else:
        print("Odd")

In [59]:
#call the function
checkNumber(83)

Odd

# Built-in Functions in Python
We will discuss some built in functions provided to us by Python. They are as following:
* Filter
* Map
* Lambda
* Range
* Min, Max
* Enumerate

Let's have a look at the following examples and see how they work

## map function

The **map** function allows you to "map" a function to an iterable object. That is to say you can quickly call the same function to every item in an iterable, such as a list. For example:

In [60]:
def square(arg):
    return arg**2

In [61]:
square(2)

4

In [62]:
square(5)

25

In [63]:
lst = [1,2,3,4,5]

In [64]:
for x in lst:
    print(square(x))

1
4
9
16
25

**Using the map() function:**

In [66]:
map(square,lst)

In [67]:
#printing results
print(list(map(square,lst)))

[1, 4, 9, 16, 25]

## filter function

The filter function returns an iterator yielding those items of iterable for which function(item)
is true. Meaning you need to filter by a function that returns either True or False. Then passing that into filter (along with your iterable) and you will get back only the results that would return True when passed to the function.

In [69]:
def checkEven(num):
    if num % 2 == 0:
        return True
    else:
        return False

In [68]:
nums = [1,2,3,4,5,6,7,8,9,10]

In [74]:
for num in nums:
    if checkEven(num):
        print("Even " , (num))

Even  2
Even  4
Even  6
Even  8
Even  10

In [76]:
filter(checkEven,nums)

In [77]:
print(list(filter(checkEven,nums)))

[2, 4, 6, 8, 10]

In [78]:
def checkOdd(num):
    if num % 2 != 0:
        return True
    else:
        return False

In [79]:
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [80]:
print(list(filter(checkOdd,nums)))

[1, 3, 5, 7, 9]

## lambda expression

lambda expressions allow us to create "anonymous" functions. This basically means we can quickly make ad-hoc functions without needing to properly define a function using def.

**lambda's body is a single expression, not a block of statements.**

Consider the following function:

In [81]:
def square(num):
    result = num**2
    return result

In [82]:
square(2)

4

We could actually even write this all on one line by lambda.

In [83]:
lambda num: num ** 2

In [84]:
# for displaying results
square = lambda num: num ** 2

Let's repeat some of the examples from above with a lambda expression

In [86]:
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [85]:
list(map(square,nums))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [87]:
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [89]:
list(map(lambda num, n=2: (num ** 2) + n,nums))

[3, 6, 11, 18, 27, 38, 51, 66, 83, 102]

### Task

Repeat the **filter()** function example with the **lambda()** functions

In [90]:
list(filter(checkEven,nums))

[2, 4, 6, 8, 10]

In [91]:
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [94]:
# wrtite the code here
list(filter(lambda num: num % 2 == 0,nums))

[2, 4, 6, 8, 10]

## range

The range function allows you to quickly *generate* a list of integers, this comes in handy a lot, so take note of how to use it! There are 3 parameters you can pass, a start, a stop, and a step size. Let's see some examples:

In [96]:
list(range(1,1000))

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999]

In [97]:
range??

In [98]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [101]:
list(range(0,50,10))

[0, 10, 20, 30, 40]

Note that this is a **generator** function, so to actually get a list out of it, we need to cast it to a list with **list()**. What is a generator? Its a special type of function that will generate information and not need to save it to memory.

## enumerate

enumerate is a very useful function to use with for loops. Let's imagine the following situation:

In [106]:
index_count = 0;
for c in "abcde":
    print("Char : " + str(c) + " at index: "+str(index_count))
    index_count+=1

Char : a at index: 0
Char : b at index: 1
Char : c at index: 2
Char : d at index: 3
Char : e at index: 4

Keeping track of how many loops you've gone through is so common, that enumerate was created so you don't need to worry about creating and updating this index_count or loop_count variable

In [108]:
# Notice the tuple unpacking!
for i,c in enumerate("abcde"):
    print("Char : " + str(c) + " at index: "+str(i))

Char : a at index: 0
Char : b at index: 1
Char : c at index: 2
Char : d at index: 3
Char : e at index: 4

## min and max

Quickly check the minimum or maximum of a list with these functions.

In [110]:
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [111]:
min(nums)

1

In [112]:
max(nums)

10

## random

Python comes with a built in random library. There are a lot of functions included in this random library, so we will only show you two useful functions for now.

In [113]:
from random import shuffle

In [114]:
shuffle(nums)

In [115]:
nums

[9, 6, 7, 4, 1, 5, 10, 8, 2, 3]

In [116]:
from random import randint

In [120]:
randint(34,89)

36

## input

This function is used in python to take input from user.

In [121]:
x = input("Enter your desirver number")

Enter your desirver number43